h1,h2,h3{
font-family: cursive;
color: chartreuse;
}

body{
  background-color: lightblue;

}
.logo{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-style: solid;
  border-color: chartreuse;
}

.oneColumn{
  margin-left:10%;
  margin-right:10%;
}
.firstImage{
  float:right;
  width:30%;
  margin-left:10px;
}
